{% extends 'layouts/fos_user_base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <form action="/login_check" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" name="_username" value="" required="required" autocomplete="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password">
        </div>
        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on">
            <label class="form-check-label" for="remember_me">Remember me</label>
        </div>
        <div class="form-login-btn">
            <button type="submit" class="btn btn-limegreen">Submit</button>
            <a href="/account/register" class="btn btn-lightpink">Sign up</a>
        </div>
    </form>
{% endblock %}
