<template>
    <div>
        <main-header/>
        <div class="container container-body">
            <router-view/>
        </div>
    </div>
</template>

<script>
export default {
    name: "App",
}
</script>
<style>
.container {
    max-width: 960px;
}

.container-body {
    margin-top: 70px;
}
</style>
