<template>
    <div>
        <div>
            <div v-if="requestStatus.error">
                <h4>Can't receive data</h4>
            </div>
            <div v-else>
                <div v-if="requestStatus.loading">
                    Loading
                </div>
                <div v-else>
                    Hello {{ currentUser.username }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from "axios";

export default {
    name: "PersonalPage",

    data() {
        return {
            currentUser: {},
            requestStatus: {
                error: false,
                loading: true,
            }
        }
    },
    mounted() {
        axios
            .get(this.$hostname + '/user/currentUser/')
            .then(response => (this.currentUser = response.data))
            .catch((error) => {
                console.log(error);
                this.requestStatus.error = true;
            })
            .finally(() => (this.requestStatus.loading = false));
    }
}
</script>
