{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <div id="app">
            <index-page/>
        </div>
    </div>
{% endblock %}
