{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body_base %}
    <div class="header-radius bg-lightpink">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">
                <a href="/">Company name</a>
            </h5>
            <a class="btn btn-limegreen" href="/login">Log in</a>
        </div>
    </div>
    <div class="container container-body">
        {% block body %}{% endblock %}
    </div>
{% endblock %}
