/* fosuserbundle */

.form-login-btn {
    display: flex;
    justify-content: space-between;
}

.fos_user_registration_register {
    padding-top: 24px;
}

#fos_user_registration_form > div {
    margin-bottom: 1rem;
}

#fos_user_registration_form label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

#fos_user_registration_form input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#fos_user_registration_form input:focus {
    box-shadow: 0 0 5px limegreen!important;
    border: 1px solid limegreen!important;
}
