<template>
    <div>
        <lessons-list/>
        <div>
            <div>
                <b-modal
                    v-bind:id="'create-lesson'"
                    ref="modal"
                    title="Create lesson"
                    @show="resetModal"
                    @hidden="resetModal"
                    @ok="handleOk"
                >
                    <form ref="form" @submit.stop.prevent="handleSubmit">
                        <b-form-group
                            :state="state.name"
                            label="Name"
                            label-for="name-input"
                            invalid-feedback="Name is required"
                        >
                            <b-form-input
                                id="name-input"
                                v-model="newLesson.lesson_name"
                                :state="state.name"
                                required
                            ></b-form-input>
                        </b-form-group>
                        <b-form-group
                            :state="state.text"
                            label="Text"
                            label-for="text-input"
                            invalid-feedback="Text is required"
                        >
                            <b-form-textarea
                                id="text-input"
                                v-model="newLesson.lesson_text"
                                :state="state.text"
                                required
                            ></b-form-textarea>
                        </b-form-group>
                        <b-form-group
                            :state="state.path"
                            label="Path"
                            label-for="path-input"
                            invalid-feedback="Path is required"
                        >
                            <b-form-input
                                id="path-input"
                                v-model="newLesson.lesson_path"
                                :state="state.path"
                                required
                            ></b-form-input>
                        </b-form-group>
                    </form>
                </b-modal>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "Lessons",

    data() {
        return {
            newLesson: {
                lesson_id: 0,
                lesson_name: '',
                lesson_text: '',
                lesson_path: ''
            },
            state: {
                name: null,
                text: null,
                path: null,
            },
            language: this.$route.params.lang,
        }
    },
    methods: {
        linkToLesson: function (link) {
            return '/' + this.language + '/lesson/' + link;
        },
        checkFormValidity() {
            const valid = this.$refs.form.checkValidity();
            this.state.name = valid;
            this.state.text = valid;
            this.state.path = valid;
            return valid;
        },
        resetModal() {
            this.state = {
                name: null,
                text: null,
                path: null,
            };
            this.newLesson = {
                id: 0,
                name: '',
                text: '',
                lang: this.$route.params.lang,
                path: ''
            };
        },
        handleOk(bvModalEvt) {
            bvModalEvt.preventDefault();
            this.handleSubmit();
        },
        handleSubmit() {
            if (!this.checkFormValidity()) {
                return;
            }
            axios.post(this.$hostname + '/post/lessons/addLesson', {body: this.newLesson});
            this.lessons.push(this.newLesson);
            this.$nextTick(() => {
                this.$bvModal.hide('create-lesson');
            });
        },
    }
}
</script>
