<template>
    <div>
        <div class="app-header-btn">
            <a class="btn btn-limegreen" v-bind:href="lessonsLink">To list</a>
        </div>
        <div class="app-lesson">
            <h3 class="text-center">Lesson {{ lessonLink }}</h3>
            <div>
                <div v-if="requestStatus.error">
                    <h4>Can't receive data</h4>
                </div>
                <div v-else>
                    <div v-if="requestStatus.loading">
                        Loading
                    </div>
                    <div v-else>
                        <p>{{ lesson.lesson_text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from "axios";

export default {
    name: "Lesson",

    data() {
        return {
            lesson: {},
            lessonsLink: '/' + this.$route.params.lang + '/lessons/',
            lessonLink: this.$route.params.link,
            language: this.$route.params.lang,
            requestStatus: {
                error: false,
                loading: true,
            }
        }
    },
    mounted() {
        axios
            .get(this.$hostname + '/get/lessons/receiveLesson/' + this.language + '/' + this.lessonLink)
            .then(response => (this.lesson = response.data))
            .catch((error) => {
                console.log(error);
                this.requestStatus.error = true;
            })
            .finally(() => (this.requestStatus.loading = false));
    },
}
</script>
<style>
.app-header-btn {
    margin-top: 6em;
    text-align: right;
}

.app-lesson {
    margin-top: 1em;
}
</style>
