{% extends 'layouts/fos_user_base.html.twig' %}

{% block title %}
    Signup
{% endblock %}

{% block body %}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock body %}
