<template>
    <div class="not-found">
        <div>
            <h2 class="text-center">
                404 not found
            </h2>
        </div>
        <div class="text-right">
            <a href="/">Back home</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "NotFound",
};
</script>
<style>
.not-found {
    padding-top: 3rem;
}
</style>
