.bg-lightpink {
    background-color: lightpink!important;
}

.btn-limegreen {
    color: limegreen;
    border-color: limegreen;
}

.btn-limegreen:hover {
    color: mediumblue;
    background-color: limegreen;
}

.btn-lightpink {
    color: lightpink;
    border-color: lightpink;
}

.btn-lightpink:hover {
    color: mediumblue;
    background-color: lightpink;
}

.btn-ghost {
    border: 1px solid lightgray;
}

.btn-ghost:hover {
    border: 1px solid gray;
}

input:focus {
    box-shadow: 0 0 5px limegreen!important;
    border: 1px solid limegreen!important;
}

button.btn-secondary.lessons-list-item-btn {
    height: 100%;
    width: 100%;
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}

button.lessons-list-item-btn:hover {
    color: #212529!important;
    background-color: #fddde2!important;
    border: none!important;
    box-shadow: none!important;
}

button.lessons-list-item-btn:focus {
    color: #212529!important;
    background-color: #fbcbd2!important;
    border: none!important;
    box-shadow: none!important;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .5);
}
