<template>
    <div class="admin-index-page">
        <div class="text-center">
            <a class="btn btn-limegreen" href="roles/">Roles</a>
        </div>
        <div class="text-center">
            <a class="btn btn-limegreen" href="languages/">Languages</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "AdminIndexPage",
};
</script>
<style>
.admin-index-page {
    margin-top: 6em;
}

.admin-index-page > div {
    margin-bottom: 1em;
}

.admin-language-new > label {
    display: block;
}
</style>
