<template>
    <div>
        <div v-if="requestStatus.error">
            <h4>Can't receive data</h4>
        </div>
        <div v-else>
            <div v-if="requestStatus.loading">
                Loading
            </div>
            <div v-else>
                <admin-languages-list v-bind:languages="languages"/>
                <admin-languages-add v-bind:languages="languages"/>
            </div>
        </div>
    </div>
</template>

<script>

import axios from "axios";

export default {
    name: "AdminIndexPage",

    data() {
        return {
            languages: [],
            requestStatus: {
                error: false,
                loading: true,
            }
        }
    },
    mounted() {
        axios
            .get(this.$hostname + '/get/languages/receiveLanguages/')
            .then(response => (this.languages = response.data))
            .catch((error) => {
                console.log(error);
                this.requestStatus.error = true;
            })
            .finally(() => (this.requestStatus.loading = false));
    }
};
</script>
