<template>
    <div>
        <h3>Roles</h3>
        <div>
            <input type="text" v-model="userName">
            <div>
                <button class="btn btn-limegreen" @click="setAdmin">Set admin</button>
                <button class="btn btn-limegreen" @click="removeAdmin">Remove admin</button>
            </div>
        </div>
    </div>
</template>

<script>

import axios from "axios";

export default {
    name: "AdminIndexPage",

    data() {
        return {
            userName: '',
        }
    },
    methods: {
        setAdmin: function () {
            axios.post(this.$hostname + '/user/addRoleAdmin', {userName: this.userName});
        },
        removeAdmin: function () {
            axios.post(this.$hostname + '/user/removeRoleAdmin', {userName: this.userName})
        },
    }
};
</script>
