<template>
    <div>
        <div v-if="requestStatus.error">
            <h4>Can't receive data</h4>
        </div>
        <div v-else class="card-deck mb-3 text-center">
            <div v-if="requestStatus.loading">
                Loading
            </div>
            <div v-else class="card mb-4 box-shadow" v-for="language in languages" v-bind:key="language.language_id">
                <div class="card-header bg-lightpink">
                    <h4 class="my-0 font-weight-normal">
                        {{ language.language_name }}
                    </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        {{ language.language_description }}
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4 card-body-services">
                        <li v-for="service in language.services" v-bind:key="service.service_id">
                            <a class="btn btn-ghost" v-bind:href="service.service_path">
                                {{ service.service_name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";

export default {
    name: "LanguagesList",

    data() {
        return {
            languages: [],
            requestStatus: {
                error: false,
                loading: true,
            }
        }
    },
    mounted() {
        axios
            .get(this.$hostname + '/get/languages/receiveLanguages/')
            .then(response => (this.languages = response.data))
            .catch((error) => {
                console.log(error);
                this.requestStatus.error = true;
            })
            .finally(() => (this.requestStatus.loading = false));
    }
};
</script>
<style>
.card-deck .card {
    min-width: 220px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.card:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(255, 182, 193, .7);
}

.card-body-services {
    margin: 0 !important;
}

.card-body-services a {
    display: block;
    font-size: 20px;
}
</style>
