<template>
    <div>
        <div class="header-radius bg-lightpink">
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
                <h5 class="my-0 mr-md-auto font-weight-normal">
                    <a href="/">Company name</a>
                </h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    <div v-if="requestStatus.error">
                        <h4>Can't receive data</h4>
                    </div>
                    <div v-else>
                        <div v-if="requestStatus.loading">
                            Loading
                        </div>
                        <div v-else>
                            <a
                                class="p-2 text-dark" href="/admin/"
                                v-if="isAdmin"
                            >
                                admin
                            </a>
                            <a
                                v-if="isAuth"
                                class="btn btn-limegreen"
                                href="/personalpage/"
                            >
                                {{ currentUser.username }}
                            </a>
                            <a v-else class="btn btn-limegreen" href="/account/login">Log in</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";

export default {
    name: "MainHeader",

    data() {
        return {
            currentUser: {},
            requestStatus: {
                error: false,
                loading: true,
            }
        }
    },
    computed: {
        isAdmin: function () {
            if (this.currentUser.username) {
                return this.currentUser.roles.includes('ROLE_ADMIN');
            }
            return false;
        },
        isAuth: function () {
            return !!this.currentUser.username;
        }
    },
    mounted() {
        axios
            .get(this.$hostname + '/user/currentUser/')
            .then(response => (this.currentUser = response.data))
            .catch((error) => {
                console.log(error);
                this.requestStatus.error = true;
            })
            .finally(() => (this.requestStatus.loading = false));
    },
};
</script>
<style>
.header-radius {
    padding: 3px 0 0 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.header-radius > div {
    border-radius: 0 10px 0 0;
}

.header-radius .mb-3 {
    margin-bottom: 0 !important;
}
</style>
