<template>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div>
            <div v-if="requestStatus.error">
                <h4>Can't receive data</h4>
            </div>
            <div v-else>
                <div v-if="requestStatus.loading">
                    Loading
                </div>
                <div v-else>
                    <h1 class="display-4">{{ siteInfo.name }}</h1>
                    <p class="lead">{{ siteInfo.description }}</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";

export default {
    name: "SiteInfo",

    data() {
        return {
            siteInfo: {},
            requestStatus: {
                error: false,
                loading: true,
            }
        }
    },
    mounted() {
        axios
            .get(this.$hostname + '/receiveSiteInfo/')
            .then(response => (this.siteInfo = response.data))
            .catch((error) => {
                console.log(error);
                this.requestStatus.error = true;
            })
            .finally(() => (this.requestStatus.loading = false));
    }
};
</script>
<style>
.pricing-header {
    max-width: 700px;
}
</style>
