<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('../node_modules/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('../node_modules/bootstrap-vue/dist/bootstrap-vue.css') }}">
        <link rel="stylesheet" href="{{ asset('libs/css/bootstrap/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('build/core.css') }}">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="app"></div>

        {% block body_base %}{% endblock %}

        <script src="{{asset('libs/js/jquery/jquery-3.5.1.min.js')}}"></script>
        <script src="{{asset('build/app.js')}}"></script>
        <script src="{{asset('build/runtime.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
