<template>
    <div>
        <div v-bind:id="lesson.lesson_id" class="lessons-list-item"
        >
            <a class="lessons-list-item-link" v-bind:href="lesson.lesson_path">
                Lesson {{ lesson.lesson_name }}
            </a>
            <lessons-list-item-admin-btn v-bind:admin="admin" v-bind:itemId="lesson.lesson_id"/>
        </div>

        <div>
            <div>
                <b-modal
                    v-bind:id="'edit-lesson_' + this.lesson.lesson_id"
                    ref="modal"
                    title="Edit lesson"
                    @show="resetModal"
                    @hidden="resetModal"
                    @ok="handleOk"
                >
                    <form ref="form" @submit.stop.prevent="handleSubmit">
                        <b-form-group
                            :state="state.name"
                            label="Name"
                            label-for="name-input"
                            invalid-feedback="Name is required"
                        >
                            <b-form-input
                                id="name-input"
                                v-model="lesson.lesson_name"
                                :state="state.name"
                                required
                            ></b-form-input>
                        </b-form-group>
                        <b-form-group
                            :state="state.text"
                            label="Text"
                            label-for="text-input"
                            invalid-feedback="Text is required"
                        >
                            <b-form-textarea
                                id="text-input"
                                v-model="lesson.lesson_text"
                                :state="state.text"
                                required
                            ></b-form-textarea>
                        </b-form-group>
                        <b-form-group
                            :state="state.path"
                            label="Path"
                            label-for="path-input"
                            invalid-feedback="Path is required"
                        >
                            <b-form-input
                                id="path-input"
                                v-model="lesson.lesson_path"
                                :state="state.path"
                                required
                            ></b-form-input>
                        </b-form-group>
                    </form>
                </b-modal>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";

export default {
    name: "LessonsListItem",

    props: {
        lesson: Object,
        admin: Boolean,
    },
    data() {
        return {
            state: {
                name: null,
                text: null,
                path: null,
            },
        }
    },
    methods: {
        checkFormValidity() {
            const valid = this.$refs.form.checkValidity();
            this.state.name = valid;
            this.state.text = valid;
            this.state.path = valid;
            return valid;
        },
        resetModal() {
            this.state = {
                name: null,
                text: null,
                path: null,
            };
        },
        handleOk(bvModalEvt) {
            bvModalEvt.preventDefault();
            this.handleSubmit();
        },
        handleSubmit() {
            if (!this.checkFormValidity()) {
                return;
            }
            axios.post(this.$hostname + '/post/lessons/editLesson', {body: this.lesson});
            this.$nextTick(() => {
                this.$bvModal.hide('edit-lesson_' + this.lesson.lesson_id);
            });
        },
    }
};
</script>
<style>
.lessons-list-item-link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
