<template>
    <span
        class="lessons-list-item-btn-cd"
        v-if="admin"
    >
        <button
            class="btn btn-primary"
            v-b-modal = "'edit-lesson_' + itemId"
        >
            Edit
        </button>
        <button
            v-on:click="deleteItem"
            class="btn btn-danger"
        >
            Delete
        </button>
    </span>
</template>
<script>
import axios from "axios";

export default {
    name: "LessonsListItemAdminBtn",

    props: {
        admin: Boolean,
        itemId: String,
    },
    methods: {
        deleteItem: function () {
            console.log(this.$props.itemId);
            axios.post(this.$hostname + '/post/lessons/deleteLesson/' + this.$props.itemId);
            $('#' + this.$props.itemId).hide();
        }
    }
};
</script>
<style>
.lessons-list-item-btn-cd {
    display: flex;
}

.lessons-list-item-btn-cd button {
    height: 100%;
}
</style>
