<template>
    <div>
        <div v-if="requestStatus.error">
            <h4>Can't receive data</h4>
        </div>
        <div v-else class="lessons-list">
            <div v-if="requestStatus.loading">
                Loading
            </div>
            <div v-else>
                <lessons-list-item
                    v-for="lesson in lessons"
                    v-bind:key="lesson.lesson_id"
                    v-bind:lesson="lesson"
                    v-bind:admin="isAdmin"
                />
                <div class="lessons-list-item"
                     v-if="isAdmin"
                >
                    <b-button class="lessons-list-item-btn" v-b-modal.create-lesson>Create lesson</b-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";

export default {
    name: "LessonsList",

    data() {
        return {
            currentUser: {},
            lessons: [],
            requestStatus: {
                error: false,
                loading: true,
            }
        }
    },
    computed: {
        isAdmin: function () {
            if (Object.keys(this.currentUser).length > 0) {
                return this.currentUser.roles.includes('ROLE_ADMIN');
            }
            return false;
        }
    },
    mounted() {
        axios
            .get(this.$hostname + '/get/lessons/receiveLessons/' + this.$route.params.lang)
            .then(response => (this.lessons = response.data))
            .catch(error => {
                console.log(error);
                this.requestStatus.error = true;
            })
            .finally(() => (this.requestStatus.loading = false));
        axios
            .get(this.$hostname + '/user/currentUser/')
            .then(response => (this.currentUser = response.data))
            .catch(error => (console.log(error)));
    },
};
</script>
<style>
.lessons-list {
    margin-top: 7em;
}

.lessons-list-item {
    margin: 1em 0.5em 0 0.5em;
    border: 1px solid #ffb6c1;
    border-radius: 5px;
    display: flex;
    height: 58px;
}

.lessons-list-item:hover {
    box-shadow: 0 0.2rem 0.5rem rgba(255, 182, 193, .7);
}
</style>
