<template>
    <div>
        <h3>Languages</h3>
        <div class="admin-language-list">
            <admin-languages-list-item
                v-for="language in languages"
                v-bind:key="language.language_id"
                v-bind:language="language"
            />
            <button class="btn btn-limegreen" @click="saveChanges">Save changes</button>
        </div>
    </div>
</template>
<script>
import axios from "axios";

export default {
    name: "AdminLanguagesList",

    props: {
        languages: Array,
    },
    data() {
        return {
            newService: '',
        }
    },
    methods: {
        saveChanges: function () {
            axios.post(this.$hostname + '/post/languages/saveLanguageChanges', {body: this.languages})
        },
    }
};
</script>
