<template>
    <div
        class="admin-language-list-item"
        v-bind:key="language.language_name"
        v-bind:id="language.language_id"
    >
        <label>
            Language name
            <input type="text" v-model="language.language_name">
        </label>
        <label>
            Language description
            <input type="text" v-model="language.language_description">
        </label>
        <label>
            Language path
            <input type="text" v-model="language.language_path">
        </label>
        <label>
            Language shortname
            <input type="text" v-model="language.language_shortname">
        </label>
        <div>
            Language services
            <div>
                <div v-bind:id="'service_' + service.service_id" v-for="service in language.services">
                    <label>
                        <input type="text" v-model="service.service_name">
                    </label>
                    <button class="btn btn-limegreen" @click="deleteService(service.service_id)">Delete service</button>
                </div>
            </div>
        </div>
        <label>
            <input type="text" v-model="newService.service_name">
            <button class="btn btn-limegreen" @click="addService">Add service</button>
        </label>
        <button class="btn btn-danger" @click="deleteLanguage(language.language_id)">Delete language</button>
    </div>
</template>
<script>
import axios from "axios";

export default {
    name: "AdminLanguagesListItem",

    props: {
        language: Object,
    },
    data() {
        return {
            newService: {
                service_id: '',
                service_name: '',
                service_path: ''
            },
        }
    },
    methods: {
        deleteLanguage: function (id) {
            if (confirm("Delete language ?")) {
                axios.post(this.$hostname + '/post/languages/deleteLanguage/' + id);
                $('#' + id).hide();
            }
        },
        addService: function () {
            this.newService.service_path = this.language.language_path +  this.newService.name + '/';
            axios
                .post(this.$hostname + '/post/languages/addService/' + this.language.language_shortname, {body: this.newService});
            this.language.services.push(this.newService);
            this.newService = {};
        },
        deleteService: function (id) {
            if (confirm("Delete service ?")) {
                axios.post(this.$hostname + '/post/languages/deleteService/' + this.language.language_shortname + '/' + id);
                $('#service_' + id).hide();
            }
        }
    }
};
</script>
<style>
.admin-language-list-item {
    display: flex;
    flex-direction: column;
    border-top: 1px #1b1e21 solid;
    padding: 1em;
}
</style>
