<template>
    <div>
        <br>
        <button class="btn btn-limegreen" @click="isAddNew">Add new</button>
        <div class="admin-language-new" v-if="addNew">
            <label>
                New language header
                <input type="text" v-model="newLanguage.language_name">
            </label>
            <label>
                New language description
                <input type="text" v-model="newLanguage.language_description">
            </label>
            <label>
                New language path
                <input type="text" v-model="newLanguage.language_path">
            </label>
            <label>
                New language shortname
                <input type="text" v-model="newLanguage.language_shortname">
            </label>
            <button class="btn btn-limegreen" @click="addLanguage">Add Language</button>
        </div>
    </div>
</template>
<script>
import axios from "axios";

export default {
    name: "AdminLanguagesAdd",

    props: {
        languages: Array,
    },
    data() {
        return {
            newLanguage: {
                language_name: '',
                language_description: '',
                language_path: '',
                language_shortname: ''
            },
            addNew: false,
        }
    },
    methods: {
        addLanguage: function () {
            axios.post(this.$hostname + '/post/languages/addLanguage', {body: this.newLanguage});
            this.languages.push(this.newLanguage);
            this.newLanguage = {};
        },
        isAddNew: function () {
            return this.addNew = !this.addNew;
        }
    }
};
</script>
